.select-wrapper {
  display: flex;
  align-items: center;
 
  label {
    margin-bottom: unset;
    margin-right: 16px;
  }

  select {
    text-transform: capitalize;
    padding: 8px;
    min-width: 110px;
  }  
}