<div id="app">
    <v-app>
        <v-card-title>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-text-field v-model="search_filter" label="Search" single-line hide-details></v-text-field>
        </v-card-title>
        <v-data-table :headers="headers" :items="clients" :search="search_filter" class="elevation-1" :items-per-page="10">
            <template v-slot:item="client">
                <tr v-on:click="show_client_details(client.item)">
                    <td>{{ client.item.full_name }}</td>
                    <td>{{ client.item.number_of_sites }}</td>
                    <td>{{ client.item.phase }}</td>
                </tr>
            </template>
        </v-data-table>

        <div class="modal_container" v-show="client_details_modal_visible" @click="hide_client_details()">
            <div id="client_details_modal" @click.stop="">
                <div v-if="selected_client">
                    <h1>{{ selected_client.full_name }}
                            <span aria-hidden="true" class="close_x" @click="hide_client_details()">&times;</span>
                    </h1>
                </div>
                <div id="map_container">
                    <input id="pac-input" class="controls" type="text" placeholder="Search a Place">
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </v-app>
</div>
